<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fontawesome.com/v5/search?m=free
    ">
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src= "/images/logo-mercado-liebre.svg">
        <form>
            <input type="search" name="Busqueda aqui">
            <input type="submit" value="Buscar">
        </form>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>

    </header>

    <main>
        <section>
            <h2 class="Titulares">Basado en tu última visita</h2>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="Precios"> $6.770 </div>
                <div class="Descuentos">40% OFF</div> 
                <div class="Descrip"><strong>Cafetera Moulinex</strong> </div> 
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="Precios">$230.000</div>
                <div class="Descuentos">20% off</div>
                <div class="Descrip"><strong>MacBook Pro 2019</strong></div>

            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="Precios">$70.500</div>
                <div class="Descuentos">10% off</div> 
                <div class="Descrip"><strong>Samsung Galaxy S10</strong></div> 

            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="Precios">$23.200</div>
                <div class="Descuentos">5% off</div>  
                <div class="Descrip"><strong>SmartTv Samsung 43"</strong></div>  
            </article>
           
        </section>
           
        <section>
            <h2 class="Titulares">Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="Precios"> $6.770 </div>
                <div class="Descuentos">40% OFF</div> 
                <div class="Descrip"><strong>Cafetera Moulinex</strong> </div> 
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="Precios">$230.000</div>
                <div class="Descuentos">20% off</div>
                <div class="Descrip"><strong>MacBook Pro 2019</strong></div>

            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="Precios">$70.500</div>
                <div class="Descuentos">10% off</div> 
                <div class="Descrip"><strong>Samsung Galaxy S10</strong></div> 

            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="Precios">$23.200</div>
                <div class="Descuentos">5% off</div>  
                <div class="Descrip"><strong>SmartTv Samsung 43"</strong></div>  
            </article>

        </section>

    </main>

    <footer>
        <section>
            <h2><strong>Paga con tarjeta o en efectivo</strong></h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h2><strong>Envios gratis desde los $2.500</strong></h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>  
            <h2><strong>Seguridad de principio a fin</strong></h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
    </footer>

</body>
</html>